<!-- Надоедалка -->

<div class="modal" tabindex="-1" id="subscription-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: #000">Subscribe!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <svg style="width: 30px; height: 30px">
            <use href="./images/sprite.svg#icon-close"></use>
          </svg>
        </button>
      </div>
      <div class="modal-body">
        <p style="color: #000">Immediately, a million buns !!!!</p>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button> -->
        <button type="button" class="btn-for-library active" data-subscribe>Subscribe</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="joke-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h5 class="modal-title" style="color: #000">Attention!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div> -->
      <div class="modal-body">
        <picture>
          <source srcset="../src/images/annoying/annoying-mobile.jpg" media="(max-width: 320px)" />
          <source srcset="../src/images/annoying/annoying-tablet.jpg" media="(max-width: 768px)" />
          <source
            srcset="../src/images/annoying/annoying-desktop.jpg"
            media="(max-width: 1600px)"
          />

          <img src="../src/images/annoying/annoying-tablet.jpg" alt="Наш сотрудник 1" />
        </picture>
        <p style="color: #000">We are kidding, we don't have a subscription!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-for-library active" data-bs-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary" data-subscribe>Подписаться на рассылку</button> -->
      </div>
    </div>
  </div>
</div>

