<footer class="footer">
    <div class="container">
        <p class="copyright pre">&COPY; 2020 | All Rights Reserved | </p>
        <div class="developed-with">
            <p>Developed with</p>
            <div class="hearts-container">
                <svg class="heart-static" width="14" height="13">
                    <use href="./images/sprite.svg#icon-favorite"></use>
                </svg>
                <svg class="heart-animated1" width="14" height="13">
                    <use href="./images/sprite.svg#icon-favorite"></use>
                </svg>
                <svg class="heart-animated2" width="14" height="13">
                    <use href="./images/sprite.svg#icon-favorite"></use>
                </svg>
                <svg class="heart-animated3" width="14" height="13">
                    <use href="./images/sprite.svg#icon-favorite"></use>
                </svg>
            </div>
            <p class="pre">by </p>
            <a class="about-us-link" href=""> GoIT Students</a>
        </div>
    </div>
    <!-- Плавающая кнопка «наверх» -->
    <button id="scrollToTopBtn"><svg class="search-btn-icon" width="48" height="48">
            <use href="./images/sprite.svg#icon-eject"></use>
        </svg></use>
        </svg></button>
</footer>
