<header class="page-header">
  <div class="bg-container"></div>
  <div class="gradient-container"></div>
  <div class="container">
    <div class="container-navigation">
      <a href="./index.html" class="logo">
        <svg width="24" height="24" class="logo-icon">
          <use href="./images/sprite.svg#icon-movie"></use>
        </svg>
        <span id="beginning" class="logo-title">Filmoteka</span>
      </a>
      <nav class="page-header-menu">
        <ul class="site-nav">
          <li class="site-nav-item" id="home"><a class="site-nav-link current"> HOME</a></li>
          <li class="site-nav-item" id="my-library"><a class="site-nav-link">MY LIBRARY</a></li>
        </ul>
      </nav>
    </div>
    <form id="search-form" class="search">
      <input class="search-input" name="query" type="text" placeholder="Search movies" />
      <button class="search-btn" type="submit" title="Search!">
        <svg class="search-btn-icon" width="12" height="12">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </form>

    <!-- <div class="btn-lib-conteiner"></div> -->
    <ul class="btn-lib-list list visually-hidden">
      <li id="watched" class="btn-lib-item">
        <button class="btn-for-library active">watched</button>
      </li>
      <li id="queue" class="btn-lib-item">
        <button class="btn-for-library">queue</button>
      </li>
    </ul>
    <!-- <div> -->

  </div>
  <p class="notification"></p>
  <!-- Переключатель темы -->

  <div class="theme-switch">
    <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
      <use href="./images/sprite.svg#sun"></use>
    </svg>

    <div class="theme-switch__control">
      <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle"
        aria-label="Переключить между тёмной и светлой темой" />
      <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle">
      </label>
      <div aria-hidden="true" class="theme-switch__marker"></div>
    </div>
    <svg class="theme-switch__icon" aria-label="Иконка луны">
      <use href="./images/sprite.svg#moon"></use>
    </svg>
  </div>
  </div>

</header>
<div id="spinner" class="spinner"></div>